.comment {
    padding: 20px;
    border-radius: 6px;
    background-color: #eef0f2;
}

.comment-wrapper {
    display: flex;
}

.comment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.comment__avatar {
    flex: 48px 0 0;
}

.comment__icon {
    margin-right: 6px;
}

.comment-info__name {
    color: #3a3a3a;
    font-weight: 900;
    line-height: 1.375;
}

.comment-info__date {
    margin-left: 15px;
    font-size: .875rem;
    color: #9a9a9a;
    font-weight: 600;
    line-height: 1;
}

.comment-info__text {
    color: #3a3a3a;
    line-height: 1.5;
    font-weight: 400;
}