$active: $blue;
$titleColor: #222;
$textColor: #383737;


.user-content {

	h1 { font-size: 28px; font-weight: 900; margin: 1em 0 1em; color: $titleColor; line-height: 1.2;}
	h2 { font-size: 26px; font-weight: 600; margin: 1em 0 1em; color: $titleColor; line-height: 1.2;}
	h3 { font-size: 24px; font-weight: 900; margin: 1em 0 1em; color: $titleColor; line-height: 1.2;}
	h4 { font-size: 20px; font-weight: 900; margin: 1em 0 1em; color: $titleColor; line-height: 1.2;}
	h5 { font-size: 18px; font-weight: 900; margin: 1em 0 1em; color: $titleColor; line-height: 1.2;}
	h6 { font-size: 16px; font-weight: 900; margin: 1em 0 1em; color: $titleColor; line-height: 1.2;}

	p {
		color: $textColor;
		line-height: 2;
		margin-bottom: 0.9em;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: $active;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid #CDE2E8;
		margin: 30px 0;
	}

	ul {
		list-style-type: none;
		line-height: 1.5em;
	}

	li {
		position: relative;
		margin-bottom: 0.9em;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -20px;
			top: 10px;
			width: 6px;
			height: 6px;
			background-color: $active;
		}

	}
	
	&>h1, &>h2, &>h3, &>h4, &>h5, &>h6, 
	&>.title-1, &>.title-2, &>.title-3, &>.title-4, &>.title-5, &>.title-6, &>.title {
		margin-top: 0;
	}
	
	// custom for comment-add.html
	h6.comment-add-block__right-title {
		margin-top: 0;
		margin-bottom: 10px;
	}
	
}// .user-content
