article.blog-post
    .blog-post-head
        .blog-post-description
            h1.title-1.blog-post__title Национальный парк Йосемити
            .blog-post-info
                .blog-post-info__name.blog-post-info--indents Емельян Казаков
                a.blog-post-info--indents Путешествия
                .blog-post-info__date.blog-post-info--indents 16 Марта 2019
                a 2 комментария
        +button("Редактировать", "edit", "default", "link")(class="blog-post__button-edit")
    .blog-post-img
        img(src="../img/blog/posts/yosemite-national-park.jpg", alt="Национальный парк Йосемити")
    .blog-post-content.user-content
        p Парк находится в горах #[a(href="#!") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.
        p Центром парка является долина #[a(href="#!") Йосемити], круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.
    .blog-post-nav
        +buttonWithIcon("Назад", "primary", "link", "#!", "default", {iconPosition: "left", iconClass: "fas fa-arrow-left"})
        +buttonWithIcon("Вперед", "primary", "link", "#!", "default", {iconPosition: "right", iconClass: "fas fa-arrow-right"})