header.header
    .header-wrapper
        .header-logo
            span.header-logo__icon #[i.far.fa-paper-plane]
            | Digital LifeStyle
            span.header-logo__subtitle Сайт IT специалиста
        .header-links
            a(href="#!") Регистрация
            a(href="#!") Вход
    nav.header-nav
        a(href="#!") Главная
        a(href="#!") Обо мне
        a(href="#!") Работы
        a(href="#!") Блог
        a(href="#!") Контакты