header.header
    .header-wrapper
        +logo("Digital LifeStyle", "Сайт IT специалиста")
    nav.header-nav
        a(href="#!") Главная
        a(href="#!") Обо мне
        a(href="#!") Работы
        a(href="#!") Блог
        a(href="#!") Контакты