.indicators.content-padding
    .row.ml-0.mr-0.indicators__row
        .col-10.offset-1
            +indicator("HTML5", "green", 90)(class="indicators__indicator")
            +indicator("CSS3", "green", 90)(class="indicators__indicator")
            +indicator("JS", "green", 90)(class="indicators__indicator")
            +indicator("jQuery", "green", 90)(class="indicators__indicator")
    .row.ml-0.mr-0.indicators__row
        .col-10.offset-1
            +indicator("PHP", "blue", 90)(class="indicators__indicator")
            +indicator("MySQL", "blue", 90)(class="indicators__indicator")
    .row.ml-0.mr-0
        .col-10.offset-1
            +indicator("Git", "yellow", 90)(class="indicators__indicator")
            +indicator("Gulp", "yellow", 90)(class="indicators__indicator")
            +indicator("Bower", "yellow", 90)(class="indicators__indicator")
            +indicator("Webpack", "yellow", 90)(class="indicators__indicator")