.add-post__title {
    font-size: 1.75rem;
    color: #222;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 35px;
}

.add-post-form-field {
    margin-bottom: 30px;
}

.add-post__button-save {
    margin-right: 20px;
}