.contacts-edit__title {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 900;
    color: #222;
    margin-bottom: 35px;
}

.contacts-edit__row {
    margin-bottom: 30px;
}

.contacts-edit__button-save {
    margin-right: 20px;
}