.portfolio-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.portfolio__title {
    font-size: 1.75rem;
    color: #222;
    line-height: 1.2;
    font-weight: 400;

    span {
        font-weight: 900;
    }
}

.portfolio__button {
    align-self: flex-start;
}

.portfolio-preview__row {
    margin-bottom: 50px;
}