.about-edit__title {
    font-size: 1.75em;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 35px;
}

.about-edit__form-group {
    margin-bottom: 30px;
}

.about-edit__button-save {
    margin-right: 18px;
}