$fakeCheckboxBg:  #1e6791;

.label-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.fake-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: $fakeCheckboxBg;
    border-radius: 2px;
    background-image: url('../img/checkbox/check.png');
    background-repeat: no-repeat;
    background-position: center -10px;
    @include transition;
}

.checkbox:checked + .fake-checkbox {
    background-position: center;
}