extends ../layouts/page_layout/page.pug

block variables
    - const title = "Редактировать технологии";
    - const language = "ru";

block content
    include ../sections/_admin-panel.pug
    include ../sections/_header-admin.pug
    main
        .edit-tech.content-padding
            .container
                .row.no-margin
                    .col-10.offset-1
                        h1.edit-tech__title Редактировать - Технологии
                        form.tech-form(action="#!")
                            .row.no-margin.edit-tech__row
                                .col-2.tech-form__col
                                    +inputField("number", "HTML5", "tech-html5")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "CSS3", "tech-css3")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "JS", "tech-js")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "jQuery", "tech-jq")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                            .row.no-margin.edit-tech__row
                                .col-2.tech-form__col
                                    +inputField("number", "PHP", "tech-php")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "MySQL", "tech-mysql")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                            .row.no-margin.edit-tech__row
                                .col-2.tech-form__col
                                    +inputField("number", "Git", "tech-git")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "Gulp", "tech-gulp")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "Bower", "tech-bower")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                                .col-2.tech-form__col
                                    +inputField("number", "Webpack", "tech-webpack")(class="tech-form__field" min="0" max="100" value="0")
                                    span %
                            .row.no-margin
                                .col-4.pl-0.pr-0
                                    +button('Сохранить', 'save', 'default', 'button')(type="submit")(class="tech-form__button-save")
                                    +button('Отмена', 'primary', 'default', 'button')
    include ../sections/_footer.pug
