extends ../layouts/page_layout/page.pug

block variables
    - const title = 'Главная';
    - const language = 'ru';

block content
    .container
        .title-1.text-center.mb-55 Проект команды WEBDEV-TEAM 05
        .row
            .col
                .card.align-items-center.pb-35
                    .title-2 UI-Kit
                    +button("Перейти", "ui/ui-kit.html")
            .col
                .card.align-items-center.pb-35
                    .title-2 Главная страница
                    +button("Перейти", "main.html")