.left-panel.blue-skin
    .left-panel__section
        .title-2 UI-KIT и PUG фреймворк
    
    .left-panel__section
        p.strong Документация
        .left-panel-nav
            +linkLeftPanel("Документация", "docs.html")
            +linkLeftPanel("Оформление кода", "docs-codestyle.html")
            +linkLeftPanel("Работа со стилями", "docs-styleguide.html")
            +linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
    
    .left-panel__section
        p.strong Секции
        .left-panel-nav
            +linkLeftPanel("Комментарий-зарегистрироваться", "comment-registration.html")
            +linkLeftPanel("Типографика", "typography.html")
            +linkLeftPanel("Индикаторы", "indicators-section.html")
    
    .left-panel__section
        p.strong Элементы форм
        .left-panel-nav
            +linkLeftPanel("Кнопки", "buttons.html")
            +linkLeftPanel("Radio кнопки", "radio.html")
            +linkLeftPanel("Checkbox", "checkbox.html")
            +linkLeftPanel("Поля ввода", "input.html")
            +linkLeftPanel("Поле file", "input-file.html")

    .left-panel__section
        p.strong Блоки
        .left-panel-nav
            +linkLeftPanel("Нотификации", "notifications.html")
            +linkLeftPanel("Аватар", "avatar.html")
            +linkLeftPanel("Бейдж", "badge.html")
            +linkLeftPanel("Индикаторы", "indicators.html")
            +linkLeftPanel("Карточки", "cards.html")