.left-panel.blue-skin
    .left-panel__section
        .title-2 UI-KIT и PUG фреймворк
    
    .left-panel__section
        p.strong Документация
        .left-panel-nav
            +linkLeftPanel("Документация", "docs.html")
            +linkLeftPanel("Оформление кода", "docs-codestyle.html")
            +linkLeftPanel("Работа со стилями", "docs-styleguide.html")
            +linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
    
    .left-panel__section
        p.strong Страницы
        .left-panel-nav
            +linkLeftPanel("Главная", "main.html")
            +linkLeftPanel("Обо мне", "about.html")
            +linkLeftPanel("Обо мне редактировать инфо.", "about-info-edit.html")
            +linkLeftPanel("Редактировать опыт работы", "edit-work-exp.html")
            +linkLeftPanel("Редактировать технологии", "edit-tech.html")
            +linkLeftPanel("Отдельная работа", "single-work.html")
            +linkLeftPanel("Добавить работу", "add-work.html")
            +linkLeftPanel("Блог", "blog.html")
            +linkLeftPanel("Пост в блоге", "post.html")
            +linkLeftPanel("Добавить пост", "add-post.html")
            +linkLeftPanel("Контакты", "contacts.html")
            +linkLeftPanel("Контакты редактировать", "contacts-edit.html")

    .left-panel__section
        p.strong Секции
        .left-panel-nav
            +linkLeftPanel("Комментарий-зарегистрироваться", "comment-registration.html")
            +linkLeftPanel("Типографика", "typography.html")
            +linkLeftPanel("Загрузка файлов", "upload-files.html")
            +linkLeftPanel("Сообщение от пользователя", "user-message.html")
            +linkLeftPanel("Индикаторы", "indicators-section.html")
            +linkLeftPanel("Оставить комментарий", "leave-comment.html")
            +linkLeftPanel("Шапка - гость", "header-guest.html")
            +linkLeftPanel("Шапка - пользователь", "header-user-profile.html")
            +linkLeftPanel("Шапка - администратор", "header-admin.html")
            +linkLeftPanel("Админ панель", "admin-panel.html")
            +linkLeftPanel("Подвал", "footer.html")
            +linkLeftPanel("Пост в блоге", "blog-post.html")
            +linkLeftPanel("Опыт работы", "work-exp.html")
            +linkLeftPanel("Работы", "works.html")
    .left-panel__section
        p.strong Элементы форм
        .left-panel-nav
            +linkLeftPanel("Кнопки", "buttons.html")
            +linkLeftPanel("Radio кнопки", "radio.html")
            +linkLeftPanel("Checkbox", "checkbox.html")
            +linkLeftPanel("Поля ввода", "input.html")
            +linkLeftPanel("Поле file", "input-file.html")

    .left-panel__section
        p.strong Блоки
        .left-panel-nav
            +linkLeftPanel("Нотификации", "notifications.html")
            +linkLeftPanel("Аватар", "avatar.html")
            +linkLeftPanel("Бейдж", "badge.html")
            +linkLeftPanel("Индикаторы", "indicators.html")
            +linkLeftPanel("Карточки", "cards.html")
            +linkLeftPanel("Комментарий", "comment.html")