extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - const titlePage = 'Блог - UI-kit и HTML фреймворк - Документация';
    - const pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Блог
            
            .section-ui
                a(href="../blog.html" target="_blank") Блог
            
            .title pages/blog.pug
            pre.
                extends ../layouts/page_layout/page.pug

                block variables
                    - const title = "Блог";
                    - const language = "ru";

                block content
                    include ../sections/_admin-panel.pug
                    include ../sections/_header-admin.pug
                    main
                        .blog.content-padding
                            .container
                                .row.no-margin
                                    .col-12
                                        .blog-head
                                            h1.blog-head__title Блог веб-разработчика
                                            +button("Добавить пост", "edit", "default", "link")
                                        .row.no-margin.blog__row
                                            .col-4.blog__col
                                                +cards("blog", "Поездка в New York", "post-1", "post-1")
                                            .col-4.blog__col
                                                +cards("blog", "Что я делал в долине", "post-2", "post-2")
                                            .col-4.blog__col
                                                +cards("blog", "Как я ходил в поход этим летом", "post-3", "post-3")
                                        .row.no-margin.blog__row
                                            .col-4.blog__col
                                                +cards("blog", "Поездка в New York пример длинного названия поста ...", "post-1", "post-1")
                                            .col-4.blog__col
                                                +cards("blog", "Что я делал в долине", "post-2", "post-2")
                                            .col-4.blog__col
                                                +cards("blog", "Как я ходил в поход этим летом", "post-4", "post-4")
                                        .row.no-margin.blog__row
                                            .col-4.blog__col
                                                +cards("blog", "Поездка в New York", "post-1", "post-1")
                                            .col-4.blog__col
                                                +cards("blog", "Что я делал в долине", "post-2", "post-2")
                                            .col-4.blog__col
                                                +cards("blog", "Как я ходил в поход этим летом", "post-3", "post-3")
                    include ../sections/_footer.pug