extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - const titlePage = 'Checkbox - UI-kit и HTML фреймворк - Документация';
    - const pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Checkbox

            .section-ui
                +checkbox("I agree with terms")
            pre.
                +checkbox("I agree with terms")
            
            .title mixins/_checkbox.pug
            pre.
                mixin checkbox(text, labelClass="")
                    label.label-checkbox(class=labelClass)
                        input.checkbox(type="checkbox")&attributes(attributes)
                        span.fake-checkbox
                        | \#{text}