extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - const titlePage = 'Пост в блоге - UI-kit и HTML фреймворк - Документация';
    - const pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Пост в блоге
            
            .section-ui
                a(href="../post.html" target="_blank") Пост в блоге
            
            .title pages/post.pug
            pre.
                extends ../layouts/page_layout/page.pug

                block variables
                    - const title = "Пост в блоге";
                    - const language = "ru";

                block content
                    include ../sections/_admin-panel.pug
                    include ../sections/_header-admin.pug
                    main
                        .post.content-padding
                            .container
                                .row.no-margin
                                    .col-10.offset-1
                                        include ../sections/_blog-post.pug
                                        .comments
                                            h2.comments__title 2 комментария
                                            +comment("user-1", "small", "comment__avatar", "Джон До", "05 Мая 2019 года в 15:45", "John Doe")
                                                | Замечательный парк, обязательно отправлюсь туда этим летом
                                            +comment("user-2", "small", "comment__avatar", "Джон До", "05 Мая 2019 года в 15:45", "John Doe")
                                                | Замечательный парк, обязательно отправлюсь туда этим летом
                                        include ../sections/_leave-comment.pug
                    include ../sections/_footer.pug