extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - const title = 'Загрузка файлов - UI-kit и HTML фреймворк - Документация';
    - const pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Загрузка файлов

            //- .section-ui
            //-     +badge('link', 'Пользователь')(class="badge--link")
            //-     +badge('button', 'Пользователь')(class="badge--button")
            //- pre.
            //-     +badge('link', 'Пользователь')(class="badge--link")
            //-     +badge('button', 'Пользователь')(class="badge--button")
            
            //- .title mixins/_budge.pug

            //- pre.
            //-     mixin badge(type, text)
            //-         if (type == 'button')
            //-             button.badge\&attributes(attributes) \#{text}
            //-         else
            //-             a.badge(href='#!')\&attributes(attributes) \#{text}