meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title #{title}
link(rel="stylesheet" href="./libs/normalize-css/normalize.css")
link(rel="stylesheet" href="./libs/bootstrap-4-grid/grid.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,600,700&amp;subset=cyrillic-ext")
link(rel="stylesheet", href="css/main.css")
script(src="https://api-maps.yandex.ru/2.1/?apikey=5dc03896-ed83-44fc-9844-aa04ebfa0c14&lang=ru_RU" type="text/javascript")