include ../_mixins-links.pug
block variables

doctype html
html(lang=language)
    head
        include ./_head.pug
        block headScripts
    body(class=(pageClass != "") ? pageClass : "")
        block content

        include ./_foot.pug
        block footScripts